:root {
  --bg-lion-orange: #ff8731;
  --bg-lion-dark: #111111;
}

* {
  padding: 0;
  margin: 0;
}

.bg-lion-orange {
  background-color: var(--bg-lion-orange);
}

.bg-lion-dark {
  background-color: var(--bg-lion-dark);
}

.text-lion-orange {
  color: var(--bg-lion-orange);
}

.text-lion-dark {
  color: var(--bg-lion-dark);
}

.text-shadow {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.bg-transparent-blur {
  background-color: rgba(17, 17, 17, 0.6);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

.bg-blur-center-100 {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  background: radial-gradient(circle at top, #ff8463, transparent 70%);
  background-color: #111111;
  backdrop-filter: blur(10px);
}

.bg-blur-left-ellipse {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  background: radial-gradient(ellipse at left, #ff8463, transparent 65%);
  background-color: #111111;
  backdrop-filter: blur(10px);
}

.bg-blur-right-ellipse {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  background: radial-gradient(ellipse at right, #ff8463, transparent 70%);
  background-color: #111111;
  backdrop-filter: blur(10px);
}

.btn-orange-custom {
  color: #ffffff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  position: relative;
  background: radial-gradient(141.42% 141.42% at 100% 0%, #ffce9d66, #ffce9d00),
    radial-gradient(
      140.35% 140.35% at 100% 94.74%,
      var(--bg-lion-orange),
      #ff846300
    ),
    radial-gradient(89.94% 89.94% at 18.42% 15.79%, #ffce9d, #ffce9d00);
  box-shadow: 0 1px #ffffffbf inset;
}

.btn-orange-custom:hover {
  color: #e5e5e5;
  background: radial-gradient(141.42% 141.42% at 100% 0%, #ffce9d66, #ffce9d00),
    radial-gradient(
      140.35% 140.35% at 100% 94.74%,
      var(--bg-lion-orange),
      #ff846300
    ),
    radial-gradient(89.94% 89.94% at 18.42% 15.79%, #ffce9d, #ffce9d00),
    radial-gradient(141.42% 141.42% at 100% 0%, #ffce9d66, #ffce9d00),
    radial-gradient(
      140.35% 140.35% at 100% 94.74%,
      var(--bg-lion-orange),
      #ff846300
    ),
    radial-gradient(89.94% 89.94% at 18.42% 15.79%, #ffce9d, #ffce9d00);
  box-shadow: 0 1px #ffffffbf inset;
}

.dropdown-menu-blur {
  --bs-dropdown-color: #dee2e6;
  --bs-dropdown-bg: rgba(17, 17, 17, 0.8);
  --bs-dropdown-border-color: var(--bs-border-color-translucent);
  --bs-dropdown-box-shadow: none;
  --bs-dropdown-link-color: #dee2e6;
  --bs-dropdown-link-hover-color: #fff;
  --bs-dropdown-divider-bg: var(--bs-border-color-translucent);
  --bs-dropdown-link-hover-bg: rgba(255, 255, 255, 0.15);
  --bs-dropdown-link-active-color: #fff;
  --bs-dropdown-link-active-bg: rgba(255, 255, 255, 0.15);
  --bs-dropdown-link-disabled-color: #adb5bd;
  --bs-dropdown-header-color: #adb5bd;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.dropdown-menu-blur .dropdown-item {
  color: var(--bs-dropdown-link-color);
}

.dropdown-menu-blur .dropdown-item:hover {
  color: var(--bs-dropdown-link-hover-color);
  background-color: var(--bs-dropdown-link-hover-bg);
}

.dropdown-menu-blur .dropdown-item.active,
.dropdown-menu-blur .dropdown-item:active {
  color: var(--bs-dropdown-link-active-color);
  background-color: var(--bs-dropdown-link-active-bg);
}
