---
import '../assets/css/index.css';
import Footer from '../components/Footer.astro';
import Welcome from '../components/Welcome.astro';
import WhyUs from '../components/WhyUs.astro';
import Layout from '../layouts/Layout.astro';
import background from '../assets/background.svg';
import { Image } from 'astro:assets';
import Products from "../components/Products.astro";
---

<Layout>
	<div id="container">
        <Image src={background} alt={"background"} id="background" fetchpriority="high" />

        <Welcome />

        <WhyUs />

        <Products />

        <Footer />
    </div>
</Layout>
