---
import ContactButton from "./ContactButton.astro";
---

<div class="bg-blur-left-ellipse">
  <section class="py-5 card bg-transparent-blur">
    <div class="container">
      <div class="row align-items-center">
        <!-- <div class="col-md-6 text-center">
          <img src="/about-us.svg" alt="Equipo de trabajo" class="img-fluid rounded shadow-lg">
        </div> -->
  
        <div class="col-md-6 mx-auto text-light">
          <h2 class="fw-bold">Quiénes Somos</h2>
  
          <p class="lead">
            Somos un equipo de <strong>ingenieros profesionales en Colombia</strong> dedicados a ofrecer soluciones
            tecnológicas innovadoras.
          </p>
  
          <p>
            Nuestra misión es desarrollar software a la medida, garantizar el mantenimiento óptimo de los sistemas y
            ofrecer infraestructura en la nube para empresas que buscan escalar con tecnología de calidad.
          </p>
  
          <ul class="list-unstyled">
            <li><i class="bi bi-check-circle-fill text-primary"></i> Experiencia en tecnologías modernas</li>
            <li><i class="bi bi-check-circle-fill text-success"></i> Compromiso con la seguridad y el rendimiento</li>
            <li><i class="bi bi-check-circle-fill text-warning"></i> Soporte continuo y soluciones escalables</li>
          </ul>
  
          <ContactButton />
        </div>
      </div>
    </div>
  </section>
</div>