---
import ContactButton from "./ContactButton.astro";
---

<div class="bg-blur-left-ellipse py-5">
  <div class="col-md-5 mx-auto text-light bg-transparent-blur border-lion-light rounded">
    <div class="p-4">
      <h2 class="fw-bold">Quiénes Somos</h2>

      <p class="lead">
        Somos un equipo de <strong>ingenieros profesionales en Colombia</strong> dedicados a ofrecer soluciones
        tecnológicas innovadoras.
      </p>

      <p>
        Nuestra misión es desarrollar software a la medida, garantizar el mantenimiento óptimo de los sistemas y
        ofrecer infraestructura en la nube para empresas que buscan escalar con tecnología de calidad.
      </p>

      <ul class="list-unstyled">
        <li><i class="bi bi-check-circle-fill text-lion-orange"></i> Experiencia en tecnologías modernas</li>
        <li><i class="bi bi-check-circle-fill text-lion-orange"></i> Compromiso con la seguridad y el rendimiento</li>
        <li><i class="bi bi-check-circle-fill text-lion-orange"></i> Soporte continuo y soluciones escalables</li>
      </ul>

      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <ContactButton />
      </div>
    </div>
  </div>
</div>