---
const year = new Date().getFullYear();
---

<hr>

<footer class="py-4" id="contact">
  <div class="container">
    <div class="row">
      <div class="col-md-4 mb-3">
        <h4 class="fw-bold text-lion-orange">Lion-Packages</h4>

        <p class="text-muted">
          Desarrollo de software a la medida, soporte y mantenimiento, y alojamiento en la nube.
        </p>
      </div>

      <div class="col-md-4 mb-3">
        <h5 class="fw-bold">Enlaces</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#welcome" class="text-lion-orange text-decoration-none">
              {"Inicio"}
            </a>
          </li>

          <li>
            <a href="#why-us" class="text-lion-orange text-decoration-none">
              {"Servicios"}
            </a>
          </li>

          <li>
            <a href="#about" class="text-lion-orange text-decoration-none">
              {"Nosotros"}
            </a>
          </li>
        </ul>
      </div>

      <div class="col-md-4 mb-3">
        <h5 class="fw-bold">Contáctanos</h5>

        <p>
          <i class="bi bi-envelope-fill text-primary"></i> lion.packages@gmail.com
        </p>

        <p><i class="bi bi-whatsapp text-success"></i> +57 315 193 2919</p>
        <p>
          <i class="bi bi-geo-alt-fill text-danger"></i> Girardot, Cundinamarca, Colombia
        </p>
      </div>
    </div>

    <hr class="border-secondary">

    <div class="text-center">
      <p class="mb-0">
        © {year} <strong><span class="text-lion-orange">Lion-Packages</span></strong>. Todos los derechos reservados. 
        <strong><span class="text-lion-orange">Lion-Packages</span></strong> es una empresa de desarrollo de software
        a la medida y soluciones en la nube.
      </p>
    </div>
  </div>
</footer>