---
import logo from '../assets/lion-packages.svg';

const year = new Date().getFullYear();
---

<footer id="footer" class="pt-5 pb-4">
    <div class="container text-center text-md-start">
        <div class="row">
            <div class="col-md-9 mb-4 text-center text-md-start">
                <a role="button" href="/">
                    <img src={logo.src} alt="Lion-Parking" class="fluid mb-3" style={{ height: "55px", width: "auto" }} />
                </a>

                <p class="footer-desc">
                    Soluciones de software a la medida.
                </p>
            </div>

            <!-- <div class="col-md-3 mb-4">
                <h5 class="fw-bold footer-title">Ayuda</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="#" class="footer-link">Centro de ayuda</a>
                    </li>

                    <li>
                        <a href="#" class="footer-link">Soporte técnico</a>
                    </li>

                    <li>
                        <a href="#" class="footer-link">Contacto</a>
                    </li>
                </ul>
            </div> -->

            <div class="col-md-3 mb-4">
                <h5 class="fw-bold footer-title">Síguenos</h5>

                <div
                        class="d-flex justify-content-center justify-content-md-start gap-3"
                >
                    <a
                            href="https://www.facebook.com/profile.php?id=61573988267082"
                            class="footer-social text-lion-orange"
                    >
                        <i class="bi bi-facebook"></i>
                    </a>

                    <a
                            href="https://www.instagram.com/lion_packages/"
                            class="footer-social text-lion-orange"
                    >
                        <i class="bi bi-instagram"></i>
                    </a>

                    <a
                            href="https://linkedin.com/company/lion-packages"
                            class="footer-social text-lion-orange"
                    >
                        <i class="bi bi-linkedin text-lion-orange"></i>
                    </a>

                    <a
                            href="https://www.tiktok.com/@lion_packages"
                            class="footer-social"
                    >
                        <i class="bi bi-tiktok text-lion-orange"></i>
                    </a>
                </div>
            </div>
        </div>

        <hr class="my-4" />

        <div class="text-center small copyright">
            © 2025 <span class="text-lion-orange">Lion-Packages</span>. Todos  los derechos reservados.
            <span class="text-lion-orange">Lion-Packages</span> es una empresa de desarrollo de software a la medida y
            soluciones en la nube.
        </div>
    </div>
</footer>