---
import type { NavbarItemType } from 'astro-bootstrap';
import { Navbar } from 'astro-bootstrap';
import { Image } from 'astro:assets';
import logo from '../assets/icon-transparent-orange.png';

const id = 'navbar-lion-packages';

const items: { text: string; href: string }[] = [
  {
    text: "Sobre Nosotros",
    href: "/about-us"
  }
];
---

<Navbar class="p-0 navbar navbar-expand-lg sticky-top bg-light shadow-sm" data-bs-theme="light">
  <div class="container">
    <a class="navbar-brand" href="/">
      <Image src={logo} alt={"Lion-Packages"} class="img-fluid" width={50} loading={"lazy"} />

      <span>{"Lion-Packages"}</span>
    </a>

    <Navbar.Toggler controls={id} />

    <Navbar.Collapse {id}>
      <Navbar.Items {items} class="ms-auto mb-2 mb-lg-0" />
    </Navbar.Collapse>
  </div>
</Navbar>