---
import InfoCard from './InfoCard.astro';
import ContactButton from './ContactButton.astro';
---

<div class="py-5 vh-100" id="welcome">
  <section class="text-center py-5">
    <div class="container">
      <h1 class="display-4 fw-bold text-lion-orange">Soluciones de Software a la Medida</h1>

      <p class="lead">
        Desarrollo, mantenimiento y alojamiento en la nube.
      </p>

      <ContactButton />
    </div>
  </section>
  
  
  <InfoCard data={[
    {
      title: 'Desarrollo de Software',
      description: 'Creamos aplicaciones web y móviles personalizadas, escalables y optimizadas.',
      icon: {
        type: 'code-slash',
        color: 'primary',
      },
    },
    {
      title: 'Soporte y Mantenimiento',
      description: 'Optimizamos y aseguramos el rendimiento de tus sistemas para evitar interrupciones.',
      icon: {
        type: 'wrench-adjustable-circle',
        color: 'success',
      },
    },
    {
      title: 'Alojamiento en la Nube',
      description: 'Alojamos tus aplicaciones en la nube con la seguridad y confiabilidad que necesitas.',
      icon: {
        type: 'cloud-check',
        color: 'warning',
      },
    }
  ]} />
</div>