---
import InfoCard from './InfoCard.astro';
import ContactButton from './ContactButton.astro';

import logo from '../assets/lion-packages.svg';
---

<main>
    <section id="hero">
        <a href="/">
            <img
                    src={logo.src}
                    alt="Astro Homepage"
                    class="img-fluid mb-1"
                    style={{ height: "55px", width: "auto" }}
            />
        </a>

        <h1>
            Soluciones de software a la medida.
        </h1>

        <p class="description">
            Creamos aplicaciones web y móviles personalizadas, escalables y
            optimizadas. Alojamos tus aplicaciones en la nube con la seguridad
            que necesitas.
        </p>

        <section id="links" class="my-3">
            <a class="button" id="btn-demo" role="button">
                Comunícate con nosotros
            </a>
        </section>
    </section>
</main>