---
import 'bootstrap/dist/css/bootstrap.min.css';
import InfoCard from './InfoCard.astro';
---
<div class="bg-blur-center-100 py-5">
  <section class="text-white text-center py-5">
    <div class="container">
      <h1 class="display-4 fw-bold text-shadow">Soluciones de Software a la Medida</h1>

      <p class="lead text-shadow">
        Desarrollo, mantenimiento y alojamiento en la nube.
      </p>

      <a href="#contacto" class="btn btn-orange-custom btn-lg mt-3">Contáctanos</a>
    </div>
  </section>
  
  <section class="container py-5">
    <div class="row text-center">
      <InfoCard />
    </div>
  </section>  
</div>