---
import InfoCard from "./InfoCard.astro";
---

<section id="why-us" class="my-5 py-5">
  <div class="container">
    <div class="text-center mb-4">
      <h2 class="fw-bold text-title">¿Por qué elegirnos?</h2>

      <p class="lead text-muted">
        Nuestro compromiso es ofrecer calidad, seguridad y escalabilidad en cada proyecto.
      </p>
    </div>
  </div>

    <InfoCard data={[
        {
            title: 'Soluciones Escalables',
            description: 'Ofrecemos soluciones personalizadas y escalables para adaptarse a tus necesidades cambiantes.',
            icon: {
                type: 'cloud-arrow-up-fill',
                color: 'success',
            }
        },
        {
            title: 'Soporte Continuo',
            description: 'Brindamos un servicio de soporte continuo para garantizar la satisfacción del cliente.',
            icon: {
                type: 'person-lines-fill',
                color: 'danger',
            }
        },
        {
            title: 'Mantenimiento Continuo',
            description: 'Ofrecemos mantenimiento y actualizaciones periódicas para mantener tu sistema en el mejor estado.',
            icon: {
                type: 'gear-fill',
                color: 'primary',
            }
        },
        {
            title: 'Soporte Tecnológico',
            description: 'Brindamos soporte tecnológico para resolver problemas y optimizar tu experiencia.',
            icon: {
                type: 'person-lines-fill',
                color: 'lion-orange',
            }
        },
        {
            title: 'Infraestructura en la Nube',
            description: 'Ofrecemos infraestructura en la nube para almacenar, procesar y compartir datos.',
            icon: {
                type: 'cloud-arrow-up-fill',
                color: 'primary',
            }
        },
        {
            title: 'Seguridad en la Nube',
            description: 'Implementamos medidas de seguridad en la nube para proteger tus datos y aplicaciones.',
            icon: {
                type: 'cloud-arrow-up-fill',
                color: 'danger',
            }
        },
    ]} />
</section>